# This is Git's per-user configuration file.
# Shortcut to view aliases: git config --list | grep alias
[user]
	name = Emily Woods
	email = hello@emilywoods.me
[alias]
	  a    = add
	  aa   = add -A
	  aip  = add -ip

	  b    = branch
	  bd   = branch -D
          bm   = branch -m

	  co   = checkout
	  cob  = checkout -b

	  cam  = commit -am
	  cm   = commit -m
	  ca   = commit --amend
          cane = commit --amend --no-edit
	  cfh  = commit --fixup HEAD

	  cp   = cherry-pick

	  d    = diff
	  dc   = diff --cached
	  ds   = diff --staged

	  f    = fetch --prune
	  fa   = fetch --all --prune
	  fo   = fetch origin --prune

	  g    = grep -n --break

	  l    = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %C(white)(%cr)%Creset %C(yellow)%ae%Creset\" develop.. | cat -n;echo'"
	  lc   = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %C(white)(%cr)%Creset %C(yellow)%ae%Creset\" --graph'"
	  la   = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %C(white)(%cr)%Creset %C(yellow)%ae%Creset\" --graph --all'"
	  lr   = "!sh -c 'echo \"\" & git log --pretty=format:\"%Cred%h%Creset -%C(auto)%d%Creset %s %C(white)(%cr)%Creset %C(yellow)%ae%Creset\" -20 --graph --all | cat -n;echo & echo \"\"'"
	  lo   = "!sh -c 'git log --oneline --abbrev-commit --all --graph --decorate --color'" 

	  m    = merge
	  mnf  = merge --no-ff

	  ph   = push
	  pho  = push origin
	  phoh = push origin head
	  phod = push origin develop
	  pfl   = push --force-with-lease

	  pl   = pull
	  plo  = pull origin
	  plod = pull origin develop

	  pr   = pull --rebase
	  pro  = pull --rebase origin
	  prod = pull --rebase origin develop

	  r    = rebase
	  ra   = rebase --abort
	  rc   = rebase --continue
	  ri   = rebase --interactive --autosquash
	  ro   = rebase --onto
	  rs   = rebase --skip

	  rl   = reflog --pretty='%cd %h %gd %gs'

	  rt   = reset
	  rth  = reset --hard
	  rts  = reset --soft

	  s   = status
	  sh  = "!sh -c 'if [[ $0 =~ ^[0-9]+$ ]]; then LINE=$(($0-1)); else LINE=0; fi; git show HEAD~$(($LINE))'"

	  ctags = !.git/hooks/ctag
[core]
	excludesfile = /Users/emilywoods/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/emilywoods/.stCommitMsg
[pull]
	default = current
[push]
	default = current
